*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none;

}
.box{
    width: 500px;
    border: 1px solid black;
    margin: 10px auto;
    border-bottom-right-radius: 25px;
}
.main-news a img{
    width: 100%;
}
.main-news{
    background-color: rgba(220, 220, 220, 0.204);
    padding:10px;

}
.other-link{
    padding:30px;
}
.other-link>ul>li{
    padding-bottom: 10px;
}.main-news a {
            color: #5a2d82; /* Màu tím */
            font-weight: bold;
            font-size: 18px;
            display: block;
            margin-top: 10px;
        }
 .other-link ul li a {
            color: #5a2d82; /* Màu tím */
        }
